/* _typography.scss */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200 700;
  src: url("../fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}

$heading-font: "Oswald", sans-serif;
$nav-menu-font: "Roboto", sans-serif;
$heading-font: "Oswald", sans-serif;
$body-text-font: "Roboto", sans-serif;
$button-font: "Roboto", sans-serif;

// //variable font axes
$title-weight: "wght" 420;
$subtitle-weight: "wght" 420;

// //font sizes
$logo-font-size: 1.5rem;
