/* _variable.scss */
// Colors
$text-color: white;

$body-element-max-width: 1280px;
$paragraph-max-width-tablet: 640px;
$paragraph-max-width-desktop: 784px;
$body-padding-tablet: 2rem;
$body-padding-desktop: 5rem;
